*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300px;
    background-color: white
}

.outerContainer {
    border: 1px solid rgba(165, 165, 165, 0.8);
    padding: 10px;
    border-radius: 25px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

button {
    border: 1px solid rgba(221, 221, 221, 0.8);
    border-radius: 20px;
    background-color: rgba(240, 240, 240, 0.8);
    font-size: 1.2rem;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 75px);
    gap: 5px;
    justify-content: center;
}

.equals {
    background-color: rgb(252, 181, 49);
    color: white;
    font-size: 150%;
}

.displayContainer {
    display: grid;
    grid-template-rows: minmax(50px, auto) repeat(1, 50px);
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid rgba(221, 221, 221, 0.8);
    margin-bottom: 10px;
}

.previousDisplay {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    font-size: 1.5rem;
    padding-right: 10px;
    background-color: rgba(241, 241, 241, 0.8);
}

.currentDisplay {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    font-size: 2rem;
    background-color: rgba(241, 241, 241, 0.8);
    margin-bottom: 2px;
    padding-right: 10px;
    word-wrap: break-word;
    word-break: break-all;
}